{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Patient</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
    <main class="container">
        <h3 class="my-3">Update Data <a href="/" class="float-end btn btn-sm btn-success mt-2">Patient List</a></h3>
        {% for msg in messages %}
        <p class="text-success">{{msg}}</p>
        {% endfor %}
        <form method="post" action="">
            {% csrf_token %}
            <table class="table table-bordered">
                {{form.as_table}}
                <tr>
                    <td colspan="2"><input type="submit" class="btn btn-primary" /></td>
                </tr>
            </table>
        </form>
    </main>
</body>
</html>